* {
  padding: 0;
  margin: 0;
}
:root {
  --primary-color: #ff396c;
}
.discount-banner {
  background-image: url(../images/special-offer-banner.png);
  background-size: 100%;
}
.deal-link {
  text-decoration: none;
}
.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.brand-image {
  /* width: 170px;
    height: 210px; */
  padding: 2rem;
}
.card {
  position: relative;
}
.tag {
  position: absolute;
  /* top:-10px; */
  left: -16px;
}
.tag-text {
  position: absolute;
}
.home-banner {
  /* height: 400px; */
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  flex-direction: column;
}
.col-3 {
  height: 400px;
}
.hb {
  width: 40%;
  /* height: 50%; */
}
.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-icon {
  width: fit-content;
}
